# Using Systemd

[Unit]
Description=php-fpm:7.1
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill phpfpm
ExecStartPre=-/usr/bin/docker rm phpfpm
ExecStartPre=-/usr/bin/docker pull pomirleanu/php-fpm
ExecStart=/usr/bin/docker run --name php-fpm -d -v /path/to/my/files:/var/www/html pomirleanu/php-fpm

[Install]
WantedBy=multi-user.target
